.row

    .col-xs-12
        ul.nav.nav-pills
            li(role="presentation")
                a(ui-sref="tables.jqgrid.simple") Simple
            li(role="presentation")
                a(ui-sref="#") Infinity Scroll
.row
    .col-xs-12(ui-view)
        div(ng-include="partials/tables/tables.datatables.simple.html")