ul.nav.nav-tabs
  li(ng-class="{active: $state.includes('tables')}")
    a(ui-sref='tables.datatables') tables
  li(ng-class="{active: $state.includes('view1')}")
    a(ui-sref='view1') trees
  li(ng-class="{active: $state.includes('view2')}")
    a(ui-sref='view2') graphs
